<div class="wrapper flex-col">
  <ng-container *ngIf="detailProduct$ | async as detailPro">
    <div class="header flex flex-col flex-col">
      <div class="header_carousel flex-none">
        <app-product-carousel [imgList]="mediaProduct$ | async">
        </app-product-carousel>
      </div>
      <div class="text-left text-2xl font-bold pl-3">
        <h3>{{detailPro.Name}}</h3>
      </div>
      <div class="header_bottom flex-1 justify-between text-xl text-black text-opacity-50  pl-3">
        <p>{{detailPro.Source }}</p>
      </div>
      <div class="flex pb-5 justify-between pl-3 pr-3 items-end">
        <bar-rating [theme]="'stars'"
                    class="items-end"
                    [readOnly]="true"
                    [(rate)]="overallRating.rate"
                    [max]="5"></bar-rating>
        <p class="text-lg font-semibold">{{detailPro.Price | currency:'VND':'symbol' }}</p>
      </div>

    </div>
    <div class="card_status m-5">
      <app-card-status [statusContent]="detailPro.Status"
                       [iconPath]="detailPro.Status == 1 ?'assets/subtract.svg':'assets/Vector.svg'">
      </app-card-status>
      <div class="p-7 flex justify-around items-center"
           *ngIf="certProduct$ | async as cert">
        <div class="left flex-1 text-center">
          <h3 class="text-3xl text-black font-bold">{{cert.length}}</h3>
          <p class="text-md text-black text-opacity-50">Chứng chỉ, chứng nhận</p>
        </div>
        <div class="right">
          <img src="assets/group_cert.png">
        </div>
      </div>
    </div>
  </ng-container>
  <div class="flex-col card m-5"
       *ngFor="let item of listCard">
    <app-card [cardTitle]="item.title"
              [cardIcon]="item.icon"
              [cardRouteLink]="item.routeLink">
      <ng-template #detailCard>
        <div class="flex mt-4 justify-between"
             *ngFor="let data of item.data">
          <p class="flex-2 text-black text-opacity-50 mr-2">{{data.Label}}</p>
          <div class="flex-1 font-medium self-end"
               [style.text-align]="data.key !== 'Total' ? 'justify':'right'">
            <ng-container *ngIf="data?.type === 'img' else text">
              <img [style.float]="'right'"
                   [src]="data[data.key]">
            </ng-container>

            <ng-container *ngIf="data?.type == 'btn'">
              <button class="btn_base text-black font-medium"
                      *ngFor="let btn of data.btnArray"
                      (click)="onBtnCardClick(btn.link)">{{btn.title}}</button>
            </ng-container>
            <ng-template #text>
              <p [style.direction]="data.key !== 'Total' ? 'rtl': ''"> {{data[data.key]}}</p>
            </ng-template>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>

  <div class="card_rating flex-col m-5">
    <app-card [cardTitle]="'Đánh giá sản phẩm'"
              [cardIcon]="'assets/Document.svg'"
              [cardRouteLink]="'a'">
      <ng-template #detailCard>
        <div class="overall pt-3 flex justify-around items center">
          <span class="text-black font-semibold text-sm text-opacity-50">{{overallRating.rate}}</span>
          <bar-rating [readOnly]="true"
                      [theme]="'stars'"
                      class="items-end"
                      [(rate)]="overallRating.rate"
                      [max]="5"></bar-rating>
          <img src="assets/ellipse.svg"
               alt="">
          <span class="text-sm">{{overallRating.number}} lượt đánh giá</span>
        </div>
        <ng-container *ngFor="let item of ratingProduct$ | async">

          <app-comments [rating]="item"></app-comments>
        </ng-container>

        <div class="btn_area  grid grid-cols-3 gap-1">
          <button class="btn_base  text-black font-medium"
                  [routerLink]="'/'">Tất cả</button>
          <button class="btn_base col-span-2 text-black font-medium"
                  [routerLink]="'/'">Đánh giá</button>
        </div>
        <!-- <app-comments></app-comments> -->
      </ng-template>
    </app-card>

  </div>
  <div class="card_rating flex-col m-5">
    <app-card [cardTitle]="'Hỏi đáp &bull; ' + numbOfQuestion + ' câu hỏi'"
              [cardIcon]="'assets/Chat.svg'"
              [cardRouteLink]="'a'">
      <ng-template #detailCard>
        <app-questions [question]="questionProduct$ | async"
                       [reply]="answerProduct$ | async"></app-questions>
      </ng-template>
    </app-card>
  </div>
  <div class="list_carousel flex-col m-5">
    <div class="flex items-center">
      <img src="assets/Folder.svg">
      <span class="flex-1 pl-3 text-base font-semibold">Sản phẩm khác của doanh nghiệp</span>
      <img [routerLink]="''"
           src="assets/Dropdown.svg"
           alt="">
    </div>
    <app-product-list-carousel [producList]="[
    {
      MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4
    },
    {
      MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4
    },
    {
      MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4
    },
    {
      MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4
    },
    {
      MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4
    }
   ]"></app-product-list-carousel>
  </div>
  <div [style.padding-bottom.px]="54"
       class="list_carousel flex-col m-5">
    <div class="flex items-center">
      <img src="assets/Folder.svg">
      <span class="flex-1 pl-3 text-base font-semibold">Sản phẩm liên quan</span>
      <img [routerLink]="''"
           src="assets/Dropdown.svg"
           alt="">
    </div>
    <app-product-list-carousel [producList]="[
      {
        MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4
    },
      {
        MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4},
      {MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4},
      {
        MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4},
      {MediaURL:'assets/anh.png',
      ProductName: 'Sparkling water gan 500ml',
      Rating: 3.4}]">
    </app-product-list-carousel>
  </div>
</div>
<div class="btn_wrap filter blur-xl"></div>
<button class="button_fix bg-black rounded-3xl z-50 text-white">
  Tìm hiểu thêm
</button>