@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~swiper/swiper-bundle";
@import "~ngx-bar-rating/themes/br-default-theme"; /* You can add global styles to this file, and also import other style files */

.btn_base {
  border: 1px solid #000;
  border-radius: 30px;
  width: 100%;
  padding: 6px;
}
